/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* <!-- GOOGLE FONTS --> */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');



body{
    font-family: 'Open Sans', sans-serif;    
}

    /*CLEARFIX*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* FLOAT */
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.container{
width: 70%;
margin: 0 auto;
}

header .container{
width: 95%;  
}

header{
    line-height: 70px;
}
.inline-block {
    display: inline-block;
}

header nav ul li{
    display: inline-block;
    margin-right: 1.9rem;
}

.inline-block {
    display: inline-block;
}
.aligne-middle{
    vertical-align: middle;
}
.margin-right{
    margin-right: 1rem;
}
/* JUMBOTRON */
h1{
    font-size: 4.0rem;
}
.relative {
    position: relative;
}


.absolute {
    position: absolute;
}

.width-text{
    width: 35%;
    padding: 10px;

}
.width-image{
width: 65%;
padding: 10px;
}

.jumbotron{
    height: 70vh;
    background-color: #b4d0e7;
  
    
}
.jumbotron .img-jumbo{
    top: 20px;
    right: 0;
}

.jumbotron .container{
    width: 80%;
}

main img{
width: 80%;
}
/* BUTTON JUMBOTRON */
a{
    text-decoration: none;
    
}

.button {
    border: none;
    padding: 0.5rem ;
    color: white;
    background-color: blue;
}
.bg-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.margin-bottom1{
margin-bottom: 1rem;
}
.margin-bottom{
 margin-bottom: 0.5rem;
}
.margin-bottom5{
    margin-bottom: 5rem;
}

/* PRICING BOX */

/* da controllare */
.container-p{
    width: 70%;
    min-width: 750px;
    max-width: 1180px;
    margin: 5rem auto;
} 


h2{
    font-size: 2rem;
    margin-bottom: 2rem;

}
/* <!-- PRICIPING BOX --> */
.box-pricing{
    width: calc((100% / 3) - 2rem);
    margin: 1.5rem 2.0rem 2rem 0 ;
}
.boxp-header{
    border:solid black;
    text-align: center;
    padding:10px;
}
.boxp-main{
    border:solid black;
    /* height: 610px; */
    padding: 2rem;
    font-size: 0.7rem;
}
.dash{
    border-bottom: solid
}
.underline{
    padding-bottom: 0.5rem;
    border-bottom: solid gray;
    
}
.boxp-main div{
    margin: 1.2rem 0;
}
/* <!-- fourth big box --> */
.boxp-big{
width: calc(100% - 2.0rem); 

}
.boxp-big .button{
    top: 1rem;
    right: 2.0rem;
}

.boxp-big-main{
    border:solid black;
    /* height: 610px; */
    padding: 4rem;
    font-size: 0.7rem;
} 

/* <!-- Section Partener Dropbox --> */

/* <!-- SECTION DROPBOX Business --> */

.card{
 width: calc((100% / 3) - 2rem);
 margin: 0 2rem 2rem 0  ;   
}

/* <!-- TEAM DROPBOX --> */
.container-svg img{
   
   
}
.green{
    background-color: #a2d39b;
}
.bordeaux{
    background-color: #61082b;
}
.light-blue{
    background-color: #0193ce;
}
.scarlet{
    background-color: #ff1c1c;
}
.red{
    background-color: #d5001f;
}
.blue{
    background-color: #0d2481;
}
.yellow{
    background-color: #ffd830 ;
}

.team-db{
   

}
.container-svg{
        background-color: #b4d0e7;
        width: 100%;
        height: 70vh;
}
.content-svg{
    height: 60%;
}
.square-box{
    height: 100%;
    width: 30%;   
}
.square-box .box-logo-svg{
    width: 50%;
    height: 50%;
}
.container-svg .container-center{
  height: 100%;  
  width: 40%;
  background-color: lightgrey;
}
.image-svg{
   top: 50%;
   left: 50%;
   transform: translate(-50% , - 50%);
   padding: 2rem;
   filter: invert(1);
}
.logo-svg{
    width: 20%;
    height: 20%;
    margin: 2rem 2rem 0;
  }

.short-underline{
    border-bottom: 1px solid lime;
    width: 10%;
    margin: 0 0 2rem 2rem;
}
.content-svg p{
    padding:0 2rem 2rem;
    font-size: 0.9rem;
}